[disabled]{
    color:red;
}
[type]{
    color:darkcyan;
}
[type="password"]{
    color:rebeccapurple
}
.ecosystem{
    width: 300px;
    height: 200px;
    /* background-color: orange; */
    background-color: red;

}
.animal{
    width:100px;
    /* height: 200px; */
    height: inherit;
    /* background-color: orange; */
    background-color: inherit;
    position:fixed;
    top:100px;
    right:10px;
}
div{color:red !important}
#color_yellow{color:yellow}
.color_green{color:green}
div{color:blue}
*{color:darkblue}
body{color:violet}
/* 우선순위 */
/* !important>class>id>tag>allselect */